* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
}

.App {
  border: 1px solid rgb(255, 197, 197);
  border-radius: 15px;
  box-shadow: 3px 5px 15px rgb(247, 195, 195);
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  font-family: "Dancing Script", cursive;
}

.list {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 30px;
  font-weight: 400;
}
.btn {
  font-size: 16px;
  padding: 5px 10px;
  background-color: rgb(211, 211, 211);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 5px;
}
.inp {
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  padding: 5px;
  color: grey;
}
.btn:hover {
  background-color: black;
  color: white;
}
.input {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.but {
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
}
.hr {
  margin-top: 10px;
}
li {
  padding-top: 15px;
}

.overline {
  text-decoration: line-through;
}
.header {
  text-align: center;
  padding: 30px;
  color: rgba(253, 193, 193, 0.432);
}

h1 {
  font-size: 90px;
  font-weight: 700;
}
.marg {
  margin: 0 5px;
}
.filter {
  margin-top: 40px;
}
